.start,
.reset {
  border: none;
  text-decoration: none;
  font-size: 30px;
  font-family: "Bangers", cursive;
  background-color: none;
  cursor: pointer;
}

.green {
  color: purple;
}

.start {
  margin-left: -10px;
}

.countdown {
  font-size: 38px;
  margin-bottom: 15px;
}

.buttons {
  margin-left: 150px;
  margin-top: 65px;
}
